@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  width: 350px;
  height: 600px;
  border-radius: 30px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 50px 25px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  /*사진 위치 CSS*/
  /*object-position: x좌표 y죄표;*/
  /*ex) object-position: 90% center;*/
}

.introduce {
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.button {
  font-family: 'Pretendard-Regular';
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}

.button:hover {
  background-color: #a1b5c0;
  font-size: 16px;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 24px;
  gap: 20px;
}

.icons > li {
  transition: all 0.5s ease;
}
.facebook:hover {
  color: skyblue;
}
.instagram:hover {
  color: plum;
}
.spotify:hover {
  color: green;
}
